{% extends 'body.html' %}
{% load static %}

{% block head %}
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
{% endblock %}

{% block title %}
	{{ title }}
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-sm-12">
			<div class="white-box">
				<h3 class="box-title">Carreras</h3>
				<div class="table-responsive">
					<table class="table text-nowrap">
						<thead>
						<tr>
							<th class="border-top-0">#</th>
							<th class="border-top-0">Username</th>
							<th class="border-top-0">Nombre(s)</th>
							<th class="border-top-0">Apellidos</th>
							<th class="border-top-0">Correo</th>
							<th class="border-top-0">Rol</th>
							<th class="border-top-0">Acciones</th>
						</tr>
						</thead>
						<tbody>
						{% for user in user_list %}
							<tr>
								<td>{{ user.id }}</td>
								<td>{{ user.username }}</td>
								<td>{{ user.first_name }}</td>
								<td>{{ user.last_name }}</td>
								<td>{{ user.email }}</td>
								<td>
									{% if user.is_superuser %}
										Administrador
									{% else %}
										Usuario común
									{% endif %}
								</td>
								<td>
									<a href="{% url 'update_user' user.id %}">
										<button type="button" class="btn btn-warning btn-xs btn-flat">
											<i class="fas fa-pencil-alt" style="color: white"></i>
										</button>
									</a>
									<a href="{% url 'delete_user' user.id %}">
										<button type="button" class="btn btn-danger btn-xs btn-flat">
											<i class="fas fa-trash-alt" style="color: white"></i>
										</button>
									</a>
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<a href="{% url 'create_user' %}">
				<button type="button" class="btn btn-primary">Agregar</button>
			</a>
		</div>
	</div>
{% endblock %}
