{% extends 'body.html' %}

{% load crispy_forms_filters %}

{% block content %}
	<div class="container mt-3 white-box">
		<h3 class="box-title">Eliminar carrera</h3>
		<form method="post">
			{% csrf_token %}
			<p>¿Está seguro de eliminar "{{ object }}"?</p>
			{{ form|crispy }}
			<input type="submit" value="Confirmar" class="btn btn-info" style="color: white">
			<a href="{% url 'dashboard' %}">
				<input type="button" value="Cancelar" class="btn btn-danger" style="color: white">
			</a>
		</form>
	</div>
{% endblock %}
