{% extends 'body.html' %}

{% block content %}
	<div class="container mt-3 white-box">
		<h3 class="box-title">Registrar usuario</h3>
		<form method="post" action="{% url 'create_user' %}">
			{% csrf_token %}
			<div class="mb-3 mt-3">
				<label for="email">Email:</label>
				<input type="email" class="form-control" id="email" placeholder="Ingrese su email" name="email">
			</div>
			<div class="mb-3 mt-3">
				<label for="name">Nombre(s):</label>
				<input type="text" class="form-control" id="name" placeholder="Ingrese su nombre" name="name">
			</div>
			<div class="mb-3 mt-3">
				<label for="last_name">Apellidos:</label>
				<input type="text" class="form-control" id="last_name" placeholder="Ingrese sus apellidos"
							 name="last_name">
			</div>
			<div class="mb-3">
				<label for="password">Password:</label>
				<input type="password" class="form-control" id="password" placeholder="Contraseña" name="password">
			</div>
			<div class="mb-3">
				<label for="repeated-password">Password:</label>
				<input type="password" class="form-control" id="repeated-password" placeholder="Confirme contraseña"
							 name="repeated-password">
			</div>
			<button type="submit" class="btn btn-primary">Registrar</button>
		</form>
	</div>
{% endblock %}