{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>OE | Iniciar sesión</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
	<link rel="stylesheet" href="{% static '/css/stylus.css/' %}">
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="card">
				<form class="box" method="post">
					{% csrf_token %}
					<h1>Login</h1>
					<p class="text-muted">Por favor, ingrese su correo y contraseña</p>
						<input type="text" name="username" placeholder="Correo">
						<input type="password" name="password" placeholder="Contraseña">
					<a class="forgot text-muted" href="#">¿Olvidó la contraseña?</a>
					<input type="submit" value="Iniciar sesión">
				</form>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript"
				src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>

<script type="text/javascript"
				src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>